In [ ]:
Mutable:
    list 
    dict
    set
    
Immutable
    int
    float
    tuple
    str

In [ ]:
True/False:
    - Comparison 
    - Logical
    - Membership 
    - Identity

In [ ]:
= and ==

In [ ]:
== values 
and is mem location ?

In [1]:
s1 = "Python"
print(id(s1))
s1 = "Java"
print(id(s1))

2215016469480
2215024155200

In [2]:
print(1 in 1000)

TypeError: argument of type 'int' is not iterable

In [ ]:
Iterable :
    tuple 
    list 
    set 
    dict 
    str

In [3]:
if "Python":
    print("Python")
else:
    print("Java")

Python

In [ ]:
Zero : 0 "" [] () False {} => False

In [ ]:
Looping Statements:
    For
    While

In [ ]:
marks = 350 
total_marks = 500
per = (marks / total_marks) * 100
pass_per = 40
if per > pass_per:
    print("pass")
else:
    print("Fail")

In [ ]:
student_marks = [200,350,266,150,400]

In [ ]:
marks = 200
total_marks = 500
per = (marks / total_marks) * 100
pass_per = 40
if per > pass_per:
    print("pass")
else:
    print("Fail")
    
marks = 350 
total_marks = 500
per = (marks / total_marks) * 100
pass_per = 40
if per > pass_per:
    print("pass")
else:
    print("Fail")
    
marks = 266
total_marks = 500
per = (marks / total_marks) * 100
pass_per = 40
if per > pass_per:
    print("pass")
else:
    print("Fail")
    
marks = 166
total_marks = 500
per = (marks / total_marks) * 100
pass_per = 40
if per > pass_per:
    print("pass")
else:
    print("Fail")
    
    
marks = 400 
total_marks = 500
per = (marks / total_marks) * 100
pass_per = 40
if per > pass_per:
    print("pass")
else:
    print("Fail")

In [ ]:
Syntax:

In [ ]:
for [user_defined_variable] in [iterable datatype]

In [ ]:
str
list
tuple
dict 
set

In [4]:
l = [10,20,30,40,50]
for value in l:
    print(value)

10
20
30
40
50

In [7]:
student_marks = [200,350,266,150,400]
total_marks = 500
pass_marks = 40

for marks in student_marks:
    per = (marks/total_marks) * 100    
    if per > pass_marks:
        print("Pass")
    else:
        print("Fail")

Fail
Pass
Pass
Fail
Pass

In [10]:
nums = [10,20,30,40,50]

# 1.sum = 0
# 2.get one num from list : 10 
# 3.add the new no to sum = 0 + 10 = 10 
# 4.repeat the same thing from step 2 

sum = 0
for num in nums:
    sum = sum + num
print(sum)

150

In [12]:
chars = "Python is easy to learn"
vowels = ['a','e','i','o','u']
for char in chars:
    if char in vowels:
        print(char)

o
i
e
a
o
e
a

In [13]:
nums = [100,45,12,74,90,150,4,2,1]

# 1. max = 0
# 2. Get the num from a list(1 no at a atime)
# 3. Check if the current no is greater than current max:
#        change the max to current value 
# 4. repeat from step 2 till end of the list
max = 0
for num in nums:
    if num > max:
        max = num
print(max)

150

In [ ]:
### HW

nums = [100,45,12,74,90,150,4,2,1]

max = 0
sec_max = 0

1. 100 Curr_no > max and curr_no > sec_max
        sec_max = max
        max = curr_no 
max = 100 sec_max = 0
2. 45  curr_no < max curr_no > sec_max:
        sec_max = 45
max = 100 sec_max = 45

3. 12 curr_no < max and curr_no < sec_max:

In [ ]:
range(10) : 0 1 2 3 ..... 9 
range(10,50) 10 11 12 ....49
range(10,50,5) 10 15 20 25 ..... 45

In [17]:
for value in range(50,0,-5):
    print(value)

50
45
40
35
30
25
20
15
10
5

In [ ]:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15



5 * 10 = 50

In [28]:
for num in range(1,11):
    print(5 * num)

5
10
15
20
25
30
35
40
45
50

In [ ]:
1      2            5
2      4            10
3      6
4        
5




10                 50

In [26]:
print("Hi",end = " ")
print(100,end = " ")
print(200)

Hi 100 200

In [24]:
print(100,200,sep = ";")

100;200

In [ ]:
break 
continue

In [36]:
num = [10,20,30,40,50]
key = 300
for value in num:
#     print(value)
    if key == value:
        print("Number found")
        break
else:
    print("Number not found")

Number not found