### Execution mode:
        1. Interactive mode : cmd,python,>>>,quit()
        2. Scripting mode : .py, cmd, python file_name.py
        3. IDE : Jupyter,Sublime,PyCharm,VSCode,Atom......

### Jupyter 
    - Command Mode : Blue
    - Edit Mode : Green
    - Execute a cell : ctrl + enter
    - Execute a cell and add new cell: shift + enter
    - Add new cell below : Command mode,press b
    - Add new cell above : Command mode,press a

In [3]:
print("Hi")

Hi

In [4]:
print("Welcome to python")

Welcome to python

In [ ]:
print("Hi")

In [5]:
print(100)

100

In [ ]:
Datatypes: 
    int 10 12 500 
    float 7.55 15.88888888888
    str 'Python'  "Java" """Learning python is easy"""
    list [90,88,70,35,45] [100,200,(100,200,300),"Python",{1:1,2:3}] : Mutable
    tuple (100,200,300) : Immutable
    dict {"name":"ABC","email":"abc@xyz.com"}
    set {10,20,30,40,50}
    bool True False

In [6]:
num1 = 10
num2 = 20
num3 = num1 + num2
print(num3)

30

In [ ]:
variable_name = value

In [7]:
marks = [70,80,90,88,100]
print(marks)

[70, 80, 90, 88, 100]

In [8]:
marks = [70,80,90,88,100]
print(marks,type(marks))

[70, 80, 90, 88, 100] <class 'list'>

In [9]:
emp = {"name":"abc","email":"abc@gmail.com"}
print(emp,type(emp))

{'name': 'abc', 'email': 'abc@gmail.com'} <class 'dict'>

In [10]:
num1 = 100
print(id(num1))

1969191072

In [ ]:
[0-256]

In [30]:
num1 = 257
print(id(num1))

num2 = 257
print(id(num2))

2400087650800
2400087651536

In [16]:
num1 = 1000
print(id(num1))

num2 = 1000
print(id(num2))

2400087651600
2400087651376

In [31]:
num1 = 100
print(id(num1))

num1 = 150
print(id(num1))

1969191072
1969192672

In [ ]:
100

500 num1

In [ ]:
100 
500 num1

In [32]:
num1 = 1000
print(id(num1))

num1 = 5000
print(id(num1))

2400087650352
2400087651248

In [ ]:
1000 >352 
5000 >248 num1

In [ ]:
Immutable: If i am not able to change a value at same memory location,I will say its immutable
Mutable : If you are able to change value at same mem location

In [34]:
l = [10,20,30,40]
print(id(l))
l.append(50)
print(id(l))
print(l)

2400087878984
2400087878984
[10, 20, 30, 40, 50]

In [36]:
s1 = "Python"
print(id(s1))

s1 = "Java"
print(id(s1))

2400047141808
2400054827640

In [ ]:

"Java" 640 s1