In [1]:
l = [10,20,30,40,50]
l2 = [value ** 2 for value in l]
print(l2)

[100, 400, 900, 1600, 2500]

In [2]:
l = [10,20,30,40,50]
l2 = []

for value in l:
    l2.append(value **2)
    
print(l2)

[100, 400, 900, 1600, 2500]

In [3]:
import timeit

In [9]:
t = timeit.timeit(stmt = """
l2 = []
for value in range(1,5000000):
    l2.append(value **2)
""",number = 1)
print(t)

2.9616585999999927

In [11]:
t1 = timeit.timeit(stmt = """
l = [value ** 2 for value in range(1,5000000)]
""",number = 1)
print(t1)

2.6160598000000164

In [4]:
help(timeit.timeit)

Help on function timeit in module timeit:

timeit(stmt='pass', setup='pass', timer=<built-in function perf_counter>, number=1000000, globals=None)
    Convenience function to create Timer object and call timeit method.

In [ ]:
l = [output for value l filtering_conditions]

In [12]:
l = ["abc","abcded","tetetetete","qqqqqqqqqqqqqqqqqqq"]
l2 =  [len(value) for value in l]
print(l2)

[3, 6, 10, 19]

In [14]:
l = [10,15,20,25,30,35,40,45,60]
l2 = [value for value in l if value % 2 == 0]
print(l2)

[10, 20, 30, 40, 60]

In [16]:
l = [10,15,20,25,30,35,40,45,60]

# l2 = ["Even","Odd","Even","Odd".......]
l2 = ["Even" if value%2 == 0 else "Odd" for value in l if value % 3 == 0]
print(l2)

['Odd', 'Even', 'Odd', 'Even']

In [18]:
l = [10,15,20,25,0,0,30,35,40,0,45,60]
l2 = ["Zero" if value ==0 else "Even" if value%2 ==0 else "Odd" for value in l]
print(l2)

['Even', 'Odd', 'Even', 'Odd', 'Zero', 'Zero', 'Even', 'Odd', 'Even', 'Zero', 'Odd', 'Even']

In [19]:
for val1 in range(1,5):
    for val2 in range(100,105):
        print(val1,val2)

1 100
1 101
1 102
1 103
1 104
2 100
2 101
2 102
2 103
2 104
3 100
3 101
3 102
3 103
3 104
4 100
4 101
4 102
4 103
4 104

In [20]:
l2 = [(val1,val2) for val1 in range(1,5) for val2 in range(100,105)]
print(l2)

[(1, 100), (1, 101), (1, 102), (1, 103), (1, 104), (2, 100), (2, 101), (2, 102), (2, 103), (2, 104), (3, 100), (3, 101), (3, 102), (3, 103), (3, 104), (4, 100), (4, 101), (4, 102), (4, 103), (4, 104)]

In [ ]:
range(1,5)
range(1,5)

1,1
1,2
1,3....
l=[(1,1)(2,2)(3,3),(4,4)]

In [21]:
l = [(val1,val2) for val1 in range(1,5) for val2 in range(1,5) if val1 == val2]
print(l)

[(1, 1), (2, 2), (3, 3), (4, 4)]

In [22]:
import random
l = [random.randint(10,50) for value in range(5)]
print(l)

[50, 11, 48, 19, 16]

In [23]:
l = [10,20,30,40,50]
print(sum(l))

150

In [24]:
d = {"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]}
# l = [6,15,24]
l = [sum(value) for value in d.values()]
print(l)

[6, 15, 24]

In [35]:
l = [[1,2,3],[4,5,6],[7,8,9]]
# l2 = [[1,4,7],[2,5,8],[3,6,9]]


l2 = [[value[index] for value in l] for index in range(3)]
print(l2)
# l2 = [[value[index] for value in l] for index in range(len(l[0]))]
# print(l2)

[[3, 6, 9]]

In [ ]:
index 0 => [value[0] for value in l] =[1,4,7]
index 1 => [value[1] for value in l] =>[2,5,8]

In [ ]:
l = [10,20,30,40,50]
sum = [150]

In [ ]:
# {1:1,2:4,3:9}

In [36]:
d = {key:key ** 2 for key in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
{'a':97,"b":98......"z":"122}

In [37]:
d = {chr(value):value for value in range(97,123)}
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [39]:
l = [10,15,20,24,45,85,78,41,52,56,50]
l2 = {value%5 for value in l}
print(l2)

{0, 1, 2, 3, 4}

In [40]:
t = (1,2,3,4,5,6)
t2 = (value ** 2 for value in t)
print(t2)

<generator object <genexpr> at 0x00000210BDD47200>